@import '../../stylesheets/placeholders/_variables.scss';


.streams {
	min-height: calc(45vh - #{$navbar-height});
	//Margins
	margin-bottom: 15px;
	//Paddings
	padding: 10px 15px 20px 15px;

	//Styling
	@include templateStyle();
}