<template name="footer">
	<div class="footer text-center col-xs-12">
		<ul class="about list-inline">
			<li><a href="">About</a></li>
			<li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=kresselysium@gmail.com">Contact Us</a></li>
			<li><a href="https://elysium-project.org/">Elysium</a></li>
			<li><a href="https://forum.elysium-project.org/">Forums</a></li>
			<!--<li><a href="https://www.paypal.com/donate/?token=Uen1qp-JbBdhN2pEYXpkdsMkntz0eJ4RuJUhwX6phcDT9pm4T-zMCTvR9GwyQ2ZPI6De8m">Donate</a></li>-->
		</ul>
		<div class="social-media">
			<ul class="list-inline">
				<li class="facebook"><span class="fa fa-facebook"><a href=""></a></span></li>
				<li class="twitter"><span class="fa fa-twitter"><a href=""></a></span></li>
				<li class="google-plus"><span class="fa fa-google-plus"><a href=""></a></span></li>
				<li class="instagram"><div class="fa fa-instagram"><a href=""></a></div></li>
			</ul>
		</div>
		<p class="legal">&copy; Copyright Elysium-Movies.com 2017 All rights reserved.<br>
			World of Warcraft&trade; is a registered trademark of Blizzard Entertainment &reg;.<br>
			This site is not associated with, or endorsed by Blizzard Entertainment &reg;.<br>
			This is a <b>fan-site</b> and is not associated with, or endorsed by The Elysium Project.
		</p>
	</div>
</template>