<template name="announcements">
	<div class="announcements {{dismissed}} col-xs-12">
		<span class="fa fa-close pull-right"></span>
		<h4 class="text-center">Announcements </h4>
		<div class="col-xs-12 col-md-6 announcement-text">
			<p class="paragraph-header text-center">
				Thank you guys so much for your fantastic support!<br>
			</p>
			<p class="text-left">
				I have come across so much fantastic content in such a short amount of time, it really is awe-inspiring. We have a couple more features being implemented at the moment to better your experience.<br><br>

				<b>Coming Soon:</b><br>
				Streams Page<br>
				Enjoy a community of Elysium streamers with links to their profiles. Additionally there will be a <em>live</em> section that displays which streamers are <em>currently</em> streaming, live!
			</p>
		</div>
		<div class="col-xs-12 col-md-6 announcement-list">
			<ul class="text-left">
				<h5 class="text-center">New Features</h5>
				<li>Fully Functional User Accounts System</li>
				<li>
					Simple Copy-paste uploading from YouTube<br>
					<small>Just copy-paste ANY youtube URL and click the <span class="fa fa-eye"></span> and you will be finished uploading</small>
				</li>
				<li>
					Likes and Dislikes (Must be logged in)<br>
					<small>Don't worry, signing up takes less than 10 seconds</small>

				</li>
			</ul>
		</div>

		
			


		
	</div>
</template>