<template name="popularVideos">
	<div class="popular-videos col-xs-12">
		<h2 class="header-txt">Popular Videos</h2>
		{{#if Template.subscriptionsReady}}
			<div class="spotlight-container col-xs-12">
				{{#if spotlight}}
					{{#each spotlight}}
						<div class="vid-container">
							<a href="{{pathFor '/video/:id' id=_id}}">
								<div class="img-container {{classHelper @index}}">
									<div class="video-preview" style="background-image: url('{{poster}}');">
										<span class="vid-name">{{name}}</span>
										<span class="fa fa-eye"> {{viewCount}}</span>
										<span class="fa fa-comment"> {{commentCount}}</span>
										<span class="likes-star">
											{{likes}}
											<span class="fa star-style {{starStyle}}"></span>
										</span>
										
										<span class="vid-author fa fa-cloud-download"> {{authorHelper}}</span>
									</div>
								</div>	
							</a>
						</div>
					{{/each}}
				{{else}}
					<h3 class="no-videos text-center"><a href="/upload">Upload</a> a video{{serverName}}.</h3>
				{{/if}}
			</div>
		{{else}}
			{{> spinner}}
		{{/if}}
	</div>				
</template>